.login-h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.loginBox {
  border: 10px solid #f1f1f1;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label{
  width: 50%;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: flex;
}

button {
  background-color: #04AA6D;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button[type="button"]{
  background-color: blue;
}